.navbar {
    background-color: white !important;
    font-family: Helvetica;
}

.logo {
    height: 60px;
    padding: 0px;
}

.navbar-toggle {
    margin-top: 12px !important;
}

.test {
    margin: 30px;
    float: right;
}

@media screen and (min-width: 450px) {
    .navbar {
        background-color: white !important;
        font-size: 18px;
    }
    .logo {
        margin-top: 5px;
        height: 80px;
    }
    .navbar-toggle {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    .navbar-nav>li>a {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .navbar {
        min-height: 32px !important
    }
}